.box{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 15px;
width: 200px;
padding: 15px;
}
.box:hover{
  background-color: #FDD760;
  border-radius: 15px;
}
.App{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #F1F1F1;
  width: 920px;
  padding-left: 25%;
  padding-bottom: 150px;
}
.value{
  text-align: center;
}
.pagcompra{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  height: 80vh;
  align-items: center;
}
.buts{
  display: flex;
  justify-content: space-around;
  gap: 15px;
}
.label{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputs{
  padding: 15px;
  border-radius: 15px;
  width: 300px;
}
.agradece{
  text-align: center;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.cards{
  background-color: transparent;
  mix-blend-mode: multiply;
}
.nameGame{
  text-align: center;
  color: #25262C;
}
header{
  display: flex;
  align-items: center;
  color: #F1F1F1;
  justify-content: space-around;
  border-bottom: 1px solid #FDD760;
  background-color: #25262C;
}
#root{
  background-color: #F1F1F1;
}
.cart{
  text-decoration: none;
  background-color: #FDD760; 
  border-radius: 15px;
  padding: 10px;
  border: 1px solid white;
  color: black ;
  font-weight: bolder;
}

.cart:hover{
  background-color: #869791;  
border: 1px solid #FDD760;
border-radius: 15px;
color: white;
}

.boxcart{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 15px;
}

.logoSupera{
  width: 75px;
}

footer{
  color: #F1F1F1;
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #FDD760;
  background-color: #25262C;
  bottom: 0;
  position: fixed;
  text-align: center;
  width: 100%;
}

.linkCreator{
text-decoration: none;
color: #F1F1F1;
}

.linkCreator:hover{
color: blue;
}


.but{
cursor: pointer;
background-color: white;
border-radius: 10px;
padding: 10px;
color: black;
}

.but:hover{
background-color: #323159;
color: #DBD8A2  ;
}

.App-cart{
 display: flex;
 flex-direction: column;
 overflow-x: scroll;
    overflow-x: hidden;
    font-weight: bold;
}

.cartsnoner{
  display: block;
  position: absolute;
  top: 97px;
  left: 73%;
  background-color: #4b3e4dad;
  width: 350px;
  height: auto;
  border: 1px solid blue;
  border-radius: 15px;
}

.cartsnone{
  display: none;

}

.container{
  text-align: center;
  text-decoration: none;
  background-color: #4b3e4dad;
}

.linkHome{
  text-decoration: none;
  font-weight: bold;
}

.linkHome:hover{
  text-decoration: underline;
}

.inf-carr{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.butt{
  background-color: rgb(252, 182, 61);
  border: 0;
  padding: 5px;
  border-radius: 100px;
  font-weight: bolder;
  font-size: 18px;
}
.space{
  padding: 10px;
  margin-bottom: 10px ;
}

.butt:hover{
  background-color: #869791;  
  color: white;
}

@media (max-width: 600px)
{
  .cartsnoner{
    display: block;
    position: absolute;
    top: 97px;
    left: 2%;
    background-color: #4b3e4d;
    width: 95vw;
    height: auto;
    border: 1px solid blue;
    border-radius: 15px;
  }
  .header-title{
      font-size: 18px;
  }
  .cart{
    padding: 3px;
  }

}